<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<style>
    dl dt {
        float: left;
        width: 33%;
        overflow: hidden;
        clear: left;
        text-align: right;
        /*text-overflow: ellipsis;*/
        white-space: nowrap;
    }

    dl dd {
        margin-left: 35%;
    }

    dd {
        text-align: justify;
    }

    h3 {
        font-size: 11pt
    }

    .cuerpo p {
        font-size: 11pt;
    }
</style>
<body>
{{ sesion.homenajes | raw }}
</body>
</html>