.m-t-1 {
    margin-top: 1%;
}

.m-b-1 {
    margin-bottom: 1%;
}

.m-t-5 {
    margin-top: 5%;
}

.m-b-5 {
    margin-bottom: 5%;
}

.m-t-10 {
    margin-top: 10%;
}

.m-b-10 {
    margin-bottom: 10%;
}

.m-t-15 {
    margin-top: 15%;
}

.m-b-15 {
    margin-bottom: 15%;
}
