{% extends 'base.html.twig' %}

{% block title %}New PersonalLicencia{% endblock %}

{% block body %}
    <h1>Create new PersonalLicencia</h1>

    {{ include('personal_licencia/_form.html.twig') }}

    <a href="{{ path('personal_licencia_index') }}">back to list</a>
{% endblock %}
