/app/config/parameters.yml
/build/
/node_modules/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/node_modules/
env.json

# -- uploads
/web/uploads/expedientes/internos/*
!web/uploads/expedientes/internos/.gitkeep
/web/uploads/expedientes/externos/*
!web/uploads/expedientes/externos/.gitkeep
/web/uploads/documentos/*
!web/uploads/documentos/.gitkeep
/web/uploads/varios/*
!web/uploads/varios/.gitkeep
/web/uploads/expedientes/anexos/*
!web/uploads/expedientes/anexos/.gitkeep
/web/uploads/dictamenes/anexos/*
!web/uploads/dictamenes/anexos/.gitkeep

# -- Editores -----------------------------------------
# vim
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

# eclipse
*.pydevproject
.project
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.buildpath

# phpstorm
.idea/

# textmate
*.tmproj
*.tmproject
tmtags

# sublimetext
/*.sublime-project
*.sublime-workspace

# netbeans
nbproject
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# -- Sistemas Operativos ------------------------------
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
.*
!.gitignore
!.htaccess
*~

# Mac OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes