{% extends 'base.html.twig' %}

{% block body %}
    <panel-votacion></panel-votacion>
    <div class="box">
        <div class="box-header">
            <div class="box-title">Concejal</div>
        </div>
        <div class="box-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab earum eveniet mollitia reiciendis sunt! Cum dolor doloremque dolorum exercitationem minus nulla quod reprehenderit saepe suscipit voluptates. Eum illo laboriosam quidem!
        </div>
    </div>
{% endblock %}
