{% extends 'base.html.twig' %}

{% block body %}
    <div class="box">
        <div class="box-header">
            <div class="box-title">Concejal</div>
        </div>
        <div class="box-body">
            <panel-votacion></panel-votacion>
        </div>
    </div>
{% endblock %}
