{% extends 'base.html.twig' %}

{% block title %}
    Dependencia
{% endblock title %}
{% block body %}
    <h1>Alta Dependencia</h1>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Dependencia</h3>
        </div>
        <div class="box-body">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="btn btn-primary" type="submit" value="Crear"/>
            {{ form_end(form) }}
        </div>
    </div>


    <a class="btn btn-default" href="{{ path('dependencia_index') }}">Volver</a>

{% endblock %}
