{% extends 'base.html.twig' %}

{% block title %}Edit PersonalAsistencia{% endblock %}

{% block body %}
    <h1>Edit PersonalAsistencia</h1>

    {{ include('personal_asistencia/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('personal_asistencia_index') }}">back to list</a>

    {{ include('personal_asistencia/_delete_form.html.twig') }}
{% endblock %}
