# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: "%kernel.root_dir%/data.db3"

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_port: 587
    mailer_encryption: tls
    mailer_user: ~
    mailer_sender: ~
    mailer_sender_as: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
    ide: 'phpstorm://open?url=file://%%f&line=%%l'
    version: master

    redis_host: 127.0.0.1
    redis_port: 6379
    redis_scheme: tcp

    knp_snappy_binary: "%kernel.root_dir%/../vendor/h4cc/wkhtmltopdf-amd64/bin/wkhtmltopdf-amd64"
    app_url: 'http://localhost/hcd'

    # BACKUP
    local_folder_backup: '/var/backups/hcd/'
    # dropbox token
    dropbox_token:
    dropbox_key:
    dropbox_secret:
    dropbox_app:
    dropbox_root:

    #ftp
    ftp_host:
    ftp_username:
    ftp_password:
    ftp_root: