# app/config/security.yml
security:
    encoders:
        FOS\UserBundle\Model\UserInterface: bcrypt

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: ROLE_ADMIN
        ROLE_PROSECRETARIO_LEGISLATIVO: ROLE_LEGISLATIVO

    providers:
        fos_userbundle:
            id: fos_user.user_provider.username
        user_db:
            entity: { class: UsuariosBundle\Entity\Usuario, property: username }

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        sesion:
            pattern: ^/sesion/*
            provider: user_db
            form_login:
                login_path: /sesion/login
                check_path: /sesion/login
                default_target_path: /sesion
#                csrf_token_generator: security.csrf.token_manager
            logout:
                path:   /sesion/logout
                target: /sesion
            anonymous:    true
            logout_on_user_change: true

        main:
            pattern: ^/
            form_login:
                provider: fos_userbundle
                csrf_token_generator: security.csrf.token_manager
                # if you are using Symfony < 2.8, use the following config instead:
                # csrf_provider: form.csrf_provider

            logout:       true
            anonymous:    true
            logout_on_user_change: true

    access_control:
        - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/sesion/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/pantalla, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
#        - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
#        - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/sesion/, role: [ROLE_CONCEJAL, ROLE_SECRETARIO, ROLE_LEGISLATIVO, ROLE_DEFENSOR] }
        - { path: ^/admin/, role: ROLE_ADMIN }
        - { path: ^/, role: IS_AUTHENTICATED_FULLY }
