{% extends 'base.html.twig' %}

{% block title %}New PersonalDeclaracionJurada{% endblock %}

{% block body %}
    <h1>Create new PersonalDeclaracionJurada</h1>

    {{ include('personal_declaracion_jurada/_form.html.twig') }}

    <a href="{{ path('personal_declaracion_jurada_index') }}">back to list</a>
{% endblock %}
