{% extends 'base.html.twig' %}
{% block title %}
    {{ titulo }}
{% endblock title %}
{% block body %}
    <div class="embed-responsive embed-responsive-16by9">
        <embed class="embed-responsive-item"
               src="{{ vich_uploader_asset(documento, 'documentoFile') }}">
    </div>
{% endblock %}