<form method="post" action="{{ path('personal_novedad_delete', {'id': personal_novedad.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ personal_novedad.id) }}">
    <button class="btn">Delete</button>
</form>
