{% extends 'base.html.twig' %}

{% block title %}New PersonalNovedad{% endblock %}

{% block body %}
    <h1>Create new PersonalNovedad</h1>

    {{ include('personal_novedad/_form.html.twig') }}

    <a href="{{ path('personal_novedad_index') }}">back to list</a>
{% endblock %}
