{% extends 'base.html.twig' %}
{% block title %}
    Tickets
{% endblock title %}
{% block body %}
    {# modal add persona #}
    {% include 'default/modal_add_persona.html.twig' %}
    {% include 'default/modal_add_dependencia.html.twig' %}
    {# modal add persona #}

    <h1> Ticket De Servicio</h1>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Nuevo Ticket</h3>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-8">
                    {{ form_row(form.texto) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.areaDestino) }}
                </div>
            </div>
            
            </div>
            <input class="btn btn-primary col-md-3 mb-3 ml-3" type="submit" value="Crear"/>
            {{ form_end(form) }}
        </div>
{% endblock %}