<div>

    <h3>Código Impresión de Proyecto</h3>

    <p style="text-align: center">
        Muchas gracias <strong>Concejal</strong>.
    </p>
    <p style="text-align: center">
        Para imprimir su proyecto, acérquese a mesa de entrada con este código
    </p>
    <p style="text-align: center">
        <img style="width: 256px; height: auto"
             src="{{ img }}"/>
    </p>
</div>