<div>

    <h3>Expediente Administrativo </h3>

    <p style="text-align: center">
        Buen día, acaba de recibir el Expediente : {{giro.expediente.expediente}}-{{giro.expediente.letra}}-{{giro.expediente.peridoLegislativo}} proveniente del área de {{giro.AreaOrigen}}.
    </p>
    <p style="text-align: center">
        Ingrese al Sistema para poder consultarlo.
    </p>
</div>