<div>

    <h3>Plan de Labor</h3>

    <p style="text-align: center">
        Hola, está disponible el Plan de Labor para la {{ sesion.titulo }}
    </p>
    <p style="text-align: center">
        Ingrese al Sistema para poder consultarlo.
    </p>
    <p>
        -- <br>
        Atentamente. <br>
        DIRECCIÓN DE ASUNTOS LEGISLATIVOS Y COMISIONES - {{ app_name }}
    </p>
</div>