<div>

    <h3>Ticket de serivicio </h3>

    <p style="text-align: center">
        Buen día, acaba de recibir un ticket de serivicio proveniente de {{ticket.AreaOrigen}}.
        Descripcion: {{ticket.texto}} 
    </p>
    <p style="text-align: center">
        Ingrese al Sistema para poder consultarlo.
    </p>
</div>