@import "~bootstrap/dist/css/bootstrap.min.css";

@import "~font-awesome/css/font-awesome.min.css";
@import "~ionicons/dist/css/ionicons.min.css";
@import "~select2/dist/css/select2.min.css";
@import "~datatables.net-bs/css/dataTables.bootstrap.css";
@import "~admin-lte/dist/css/AdminLTE.min.css";
@import "~admin-lte/dist/css/skins/_all-skins.min.css";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css";
@import "~bootstrap-daterangepicker/daterangepicker.css";